/* Homework due 7.25.19 */

.home-link {
    margin-left: 550px;
    /* margin: 5px; */
}

.saved-link {
    margin: 25px;
}

.s-home-link {
    margin-left: 720px;
    /* margin: 5px; */
}

.s-saved-link {
    margin: 25px;
}

#scrape {
    margin: 5px;
}

#clear {
    margin: 5px;
}

#delete {
    margin: 5px;
}

.nav {
    background-color: #e9ecef;
    padding: 10px;
}